.contacts {

    &__inner {
        display: flex;
        background: #574B63;
        color: #FFFFFF;
        align-items: center;
        text-align: center;
    }

    &__form {
        padding: 137px 91px;
        width: 100%;
    }

    & .subtitle {
        margin-bottom: 62px;
        color: #FFFFFF;
        text-align: left;
    }


    &__input {
        display: block;
        width: 100%;
        margin-bottom: 30px;
        padding: 0 0 10px;
        border: none;
        border-bottom: 1px solid #F5F5F5;
        background: transparent;
        line-height: calc(18/14);
        color: #FFFFFF;

        &::placeholder {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: calc(18/14);
            color: #FFFFFF;
            opacity: 0.5;
        }
    }

    &__text {
        margin-bottom: 30px;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.5;
    }

    &__btn {
        max-width: 240px;
        height: 50px;
        padding: 16px 81px;
        font-weight: 700;
        text-transform: uppercase;
        background: #FFFFFF;
        border-radius: 30px;
        color: #490e84;
        border: transparent;
        transition: .3s ease;

        &:hover {
            color:  #fff;
            background: #574B63;;
            border: 1px solid #FFFFFF;
        }

    }

    @media screen and (width < 1200px) {
        background: #574B63;

        &__inner {
            display: block;
        }

        &__form {
            width: auto;
        }

        & .subtitle {
            text-align: center;
        }

        &__img {
            width: 100%;
        }
    }

    @media screen and (width < 768px) {
        &__form {
            padding: 50px 91px;
        }
    }

    @media screen and (width < 572px) {
        &__form {
            padding: 50px 30px;
        }
    }
    @media screen and (width < 375px) {
        &__form {
            padding: 50px 10px;
        }
    }

}