.hero {
    padding: 71px 0 40px;
    text-align: center;
    background: var(--background-header);
    font-weight: 700;
    text-transform: uppercase;

    &__title {
        margin-bottom: 40px;
        font-size: 64px;
        line-height: calc(77/64);
        color: #490E84;
    }

    &__img {
        margin: 0 auto 25px;
    }

    &__btn {
        padding: 22px 117px 19px;
        font-size: 24px;
        line-height: calc(29/24);
        background: #490E84;
        border-radius: 30px;
        color: #ffffff;
    }
}