.new {
    padding: 87px 0 150px;

    &__info {
        display: flex;
        gap: 190px;
        align-items: center;
    }

    &__text {
        max-width: 560px;
        margin-bottom: 30px;
    }

    & b {
        display: block;
        max-width: 560px;
        font-size: 20px;
        color: var(--black);
    }

    @media screen and (width < 940px) {
        padding: 50px 0;
    
        &__img {
            display: none;
        }

        &__text,
        & b {
            max-width: 100%;
        }
    }
    @media screen and (width < 768px) {
        padding: 50px 0 50px;
    }


}

.subtitle {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 32px;
    line-height: calc(39/32);
    text-align: center;
    text-transform: uppercase;
    color: var(--gray);

    @media screen and (width < 940px) {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: calc(32/28);
    }
}